*{
	margin: 0;
	padding: 0;
	border:0;
}

body{
	background-color: #222;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	margin: 50px auto;
	width: 90%;
}

header h1{
	color: #fff;
	margin-bottom: 10px;
	text-align:center;
}

.accordion{
	background: #333;
	width: 100%;
	min-width: 800px;
	display: block;
	list-style: none;
	overflow: hidden;
	height: 200px;
	font-size: 0;
}

.tab{
	display: inline-block;
	background-color: #444;
	border-right: #333 solid 1px;
	width: 80px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 0;
	transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
	width: 450px;
}

.tab .content{
	background-color: #fff;
	width: 360px;
	height: 200px;
	margin-left: 80px;
	position: relative;
	padding: 50px 0 0 15px;
}

.tab .content h1{
	font-size: 2.3rem;
	margin-bottom: 10px;
}

.tab .content p{
	font-size: .8rem;
	line-height: 1.4rem;
	padding-right: 30px;
}

.social a{
	width: 80px;
	height: 200px;
	position: absolute;
	text-decoration: none;
	text-align: center;
	display: table;
}

.social a i {
	font-size: 30px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}

/*change hover color and icon sizes*/
.social:hover i{
	font-size: 43px;
}

.youtube:hover a{
	background-color: #ff0000;
}

.twitter:hover a{
	background-color: #6dc5dd;
}

.facebook:hover a{
	background-color: #3b5998;
}

.linkedin:hover a{
	background-color: #00a9cd;
}

.instagram:hover a{
	background-color: #6dc993;
}

.github:hover a{
	background-color: #6e5494;
}


/*media query*/
@media (max-width: 950px){
	.container{
		width: 70%;
	}

	.tab{
		display: block;
		width: 100%;
		border-bottom: 3px solid #333;
	}

	.accordion{
		display: block;
		min-width: 450px;
		height: auto;
	}

	.tab .content{
		width: 85%;
	}

	.tab:hover{
		width: 100%;
	}

}